---
---
<nav class="lat-menu border border-slate-900 w-[50px] h-[40%] flex flex-col justify-between items-center p-6 bg-gray-800 fixed z-50 left-1/5 -right-4 top-44 sm:-right-4 sm:top-44 rounded-full">
    <a href="#home" class="flex justify-center items-center w-[40px] h-[40px] rounded-full bg-gray-700 ">
      <i class="fa-solid fa-house text-white"></i>
    </a>
    <a href="#project" class="flex justify-center items-center w-[40px] h-[40px] rounded-full bg-gray-700 ">
      <i class="fa-solid fa-desktop text-white"></i>
    </a>
    <a href="#expertise" class="flex justify-center items-center w-[40px] h-[40px] rounded-full bg-gray-700 ">
      <i class="fa-solid fa-code text-white"></i>
    </a>
    <a href="/about/" class="flex justify-center items-center w-[40px] h-[40px] rounded-full bg-gray-700 ">
      <i class="fa-solid fa-user text-white"></i>
    </a>
    <a href="#contact" class="flex justify-center items-center w-[40px] h-[40px] rounded-full bg-gray-700 ">
      <i class="fa-solid fa-phone text-white"></i>
    </a>
  </nav>